:root {
    --soft-blue: #8ecae6;
    --ocean-blue: #219ebc;
    --dark-blue: #023047;
    --dessert-yellow: #ffb703;
    --tangerine-orange: #fb8500;
    --fondo: #f5f5f5;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--fondo);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.nav-bar {
    width: 100%;
    min-width: 288px;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--dark-blue);
}

.nav-bar__img-container span img {
    width: 30px;
    height: 30px;
    padding: 10px;
    margin: 0 auto;
}

.nav-bar__img-container .nav-bar-logo {
    width: 30px;
    height: 30px;
    padding: 10px;
}

.nav-bar-button {
    width: 10rem;
    height: auto;
    margin: auto 10px;
    background-color: var(--soft-blue);
    border: 2px solid var(--tangerine-orange);
    border-radius: 5px;
    font-family: "Exo", sans-serif;
    color: var(--dark-blue);
}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--fondo);
}

.image-container {
    width: 100%;
    max-width: 830px;
    min-width: 288px;
    height: 180px; /*En los media queries hay que hacer el height mas alto para que el titulo no quede en la imagen*/
    max-height: 300px;
    justify-self: center;
}

.image-container img {
    width: inherit;
    height: inherit;
}

.bonus-title-container {
    width: 100%;
    height: auto;
    max-width: 830px;
    min-width: 288px;
}


h1 {
    font-size: 3.4rem;
    font-family: "Exo", sans-serif;
    font-weight: bolder;
    text-align: center;
    line-height: 4.5rem;
    margin: 20px auto;
    color: var(--tangerine-orange);
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 380px;
    gap: 20px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 0 25px;
}

/*Bonus cards*/

.bonus-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: center;
    width: 80%;
    max-height: 380px;
    max-width: 288px;
    min-width: 280px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.34);
}

.bonus-card img {
    width: 100%;
    height: 128px;
    padding-top: 10px;
}

.bonus-card__text-container {
    padding-left: 10px;
}

.bonus-card__text-container h3 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.8rem;
    font-family: "Exo", sans-serif;
    color: var(--ocean-blue);
}

.bonus-card__text-container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--dark-blue);
}

.bonus-card__button-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: var(--dark-blue);
}

.bonus-card__button-container button {
    width: 95%;
    border: none;
    background-color: var(--dark-blue);
    font-family: "Exo", sans-serif;
    color: var(--dessert-yellow);
    font-size: 1.4rem;
    font-weight: bolder;
    line-height: 1rem;
}

/*bonus card sports*/

.bonus-sport-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: center;
    width: 95%;
    max-height: 380px;
    max-width: 288px;
    min-width: 280px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.34);
}

.bonus-sport-card img {
    width: 100%;
    height: 140px;
    padding-top: 10px;
}

.bonus-sport-card__text-container {
    padding-left: 10px;
}

.bonus-sport-card__text-container h3 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.8rem;
    font-family: "Exo", sans-serif;
    color: var(--ocean-blue);
}

.bonus-sport-card__text-container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--dark-blue);
}

.bonus-sport-card__button-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: var(--dark-blue);
}

.bonus-sport-card__button-container button {
    width: 95%;
    border: none;
    background-color: var(--dark-blue);
    font-family: "Exo", sans-serif;
    color: var(--dessert-yellow);
    font-size: 1.4rem;
    font-weight: bolder;
    line-height: 1rem;
}

/*Main section sports*/

.main-section-sports {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 830px;
    height: auto;
    margin-top: 20px;
}

.main-section-sports__title {
    font-size: 2.8rem;
    line-height: 2rem;
    font-weight: bolder;
    font-family: "Exo", sans-serif;
    color: var(--tangerine-orange);
    margin-top: 20px;
    margin-bottom: 0;
}

.main-section-sports__subtitle {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 300;
    font-family: "Exo", sans-serif;
    color: var(--ocean-blue);
    margin-top: 20px;
    margin-bottom: 0;
}

.main-section-sports__text {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--dark-blue);
}

.main-section-sports__button {
    margin: 0 auto;
    width: 13.8rem;
    height: 4.8rem;
    border: 3px solid var(--dessert-yellow);
    border-radius: 3px;
    color: var(--dessert-yellow);
    background-color: var(--dark-blue);
    font-family: "Exo", sans-serif;
}

/*Seccion de recomendacion*/

.main-recomended-bets {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: 35px;
}

.main-recomended-bets__title {
    font-size: 2.8rem;
    line-height: 3rem;
    font-family: "Exo", sans-serif;
    color: var(--tangerine-orange);
    margin: 10px 0 0;
    padding-left: 2px;
}

.main-recomended-bets__subtitle {
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: var(--ocean-blue);
    margin: 10px 0 0;
    padding: 10px 0;
    background-color: var(--fondo);
}

/*Apuestas recomendadas*/

.main-recomended-bets__card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 830px;
    height: auto;
    border-bottom: 3px solid var(--fondo);
}

.main-recomended-bets__card-text p:nth-child(1) {
    font-size: 1.1rem;
    color: var(--dark-blue);
    margin: 10px 0;
}

.main-recomended-bets__card-text p:nth-child(2) {
    font-size: 1.3rem;
    color: var(--dark-blue);
    margin: 10px 0;
}

.main-recomended-bets__card-text p:nth-child(3) {
    font-size: 1.1rem;
    color: var(--tangerine-orange);
    margin: 10px 0;
}

.main-recomended-bets__card-odds {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.main-recomended-bets__card-odds div:nth-child(1) {
    background-color: var(--dessert-yellow);
    width: 30%;
    height: 50%;
    align-self: center;
    border-radius: 3px;
    display: flex;
}

.main-recomended-bets__card-odds div:nth-child(1) p {
    margin: auto;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--dark-blue);
}

.main-recomended-bets__card-odds div:nth-child(2) {
    background-color: var(--dessert-yellow);
    width: 30%;
    height: 50%;
    align-self: center;
    border-radius: 3px;
    display: flex;
}

.main-recomended-bets__card-odds div:nth-child(2) p {
    margin: auto;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--dark-blue);
}

.main-recomended-bets__card-odds div:nth-child(3) {
    background-color: var(--dessert-yellow);
    width: 30%;
    height: 50%;
    align-self: center;
    border-radius: 3px;
    display: flex;
}

.main-recomended-bets__card-odds div:nth-child(3) p {
    margin: auto;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--dark-blue);
}

/*Confirmacion de apuesta*/

.confirm-bet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto-content);
    width: 100%;
    max-width: 830px;
    height: auto;
    margin-top: 10px;
    background-color: white;
}

.confirm-bet-container {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    margin: 10px 10px;
}

.confirm-bet-container h3 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    color: var(--dark-blue);
    margin: 0;
    height: auto;
}

.confirm-bet__currency-container {
    grid-area: 2 / 1 / 3 / 4;
}

.confirm-bet__currency-container input {
    width: 80%;
    max-width: 306px;
    height: 3.6rem;
    display: block;
    margin: 0 auto;
    border: 1px solid gainsboro;
    font-family: "Exo", Helvetica;
}

.confirm-bet__button-container {
    grid-area: 3 / 1 / 4 / 4;
    margin: 15px 0;
}

.confirm-bet__button-container .confirm-bet__button-container__button {
    width: 80%;
    max-width: 306px;
    height: 4.8rem;
    border: none;
    background-color: var(--dark-blue);
    color: var(--dessert-yellow);
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    font-family: 'Exo', sans-serif;
    font-size: 1.4rem;
}

.confirm-bet__line1 {
    background-image: url(https://icones.pro/wp-content/uploads/2021/04/icone-trait-gris.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.confirm-bet__line2 {
    background-image: url(https://icones.pro/wp-content/uploads/2021/04/icone-trait-gris.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

/*Seccion de casinos fisicos*/

.main-casinos-title {
    font-family: "Exo", sans-serif;
    font-size: 2.8rem;
    line-height: 3rem;
    color: var(--tangerine-orange);
    margin: 28px 0 14px 3px;
}

.main-casinos-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 380px;
    gap: 20px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 0 25px;
}


/*Tarjeta 1*/

.main-casinos__card {
    width: 80%;
    max-height: 380px;
    max-width: 288px;
    min-width: 280px;
    margin: 0 auto 20px;
    background-color: white;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.34);
    scroll-snap-align: center;
}

.main-casinos__card-title {
    font-size: 2rem;
    font-family: "Exo", sans-serif;
    line-height: 2rem;
    padding: 14px;
    margin: 0;
    color: var(--ocean-blue);
}

.main-casinos__card-img-container {
    width: 90%;
    height: 8rem;
    margin: 0 auto 6px;
    background-image: url(https://cdn.dribbble.com/users/3131958/screenshots/15636795/media/6a87b201ef03c893d8df90227618c5d5.png?compress=1&resize=400x300&vertical=top);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-casinos__card-text1 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--dark-blue);
    padding: 14px 14px 0;
    margin: 0;
}

.main-casinos__card-text2 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--dark-blue);
    padding: 14px;
    margin: 0;
}

/*Tarjeta 2*/

.main-casinos__card2 {
    width: 80%;
    max-height: 380px;
    max-width: 288px;
    min-width: 280px;
    margin: 0 auto 20px;
    background-color: white;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.34);
    scroll-snap-align: center;
}

.main-casinos__card-title2 {
    font-size: 2rem;
    font-family: "Exo", sans-serif;
    line-height: 2rem;
    padding: 14px;
    margin: 0;
    color: var(--ocean-blue);
}

.main-casinos__card-img-container2 {
    width: 90%;
    height: 8rem;
    margin: 0 auto 6px;
    background-image: url(https://moccobeachvilla.co.tz/wp-content/uploads/2021/10/cropped-mocco-icon-512x512-150x150-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.main-casinos__card-text1-2 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--dark-blue);
    padding: 14px 14px 0;
    margin: 0;
}

.main-casinos__card-text2-2 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--dark-blue);
    padding: 14px;
    margin: 0;
}

/*Tarjeta 3*/

.main-casinos__card3 {
    width: 80%;
    max-height: 380px;
    max-width: 288px;
    min-width: 280px;
    margin: 0 auto 20px;
    background-color: white;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.34);
    scroll-snap-align: center;
}

.main-casinos__card-title3 {
    font-size: 2rem;
    font-family: "Exo", sans-serif;
    line-height: 2rem;
    padding: 14px;
    margin: 0;
    color: var(--ocean-blue);
}

.main-casinos__card-img-container3 {
    width: 90%;
    height: 8rem;
    margin: 0 auto 6px;
    background-image: url(https://therollingpictures.com/wp-content/uploads/2021/03/restaurant-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.main-casinos__card-text1-3 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--dark-blue);
    padding: 14px 14px 0;
    margin: 0;
}

.main-casinos__card-text2-3 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--dark-blue);
    padding: 14px;
    margin: 0;
}

/*Tarjeta 4*/

.main-casinos__card4 {
    width: 80%;
    max-height: 380px;
    max-width: 288px;
    min-width: 280px;
    margin: 0 auto 20px;
    background-color: white;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.34);
    scroll-snap-align: center;
}

.main-casinos__card-title4 {
    font-size: 2rem;
    font-family: "Exo", sans-serif;
    line-height: 2rem;
    padding: 14px;
    margin: 0;
    color: var(--ocean-blue);
}

.main-casinos__card-img-container4 {
    width: 90%;
    height: 8rem;
    margin: 0 auto 6px;
    background-image: url(https://www.wayfarersatlas.com/wp-content/uploads/2017/12/WA-Symbol-Island-Paradise-150x150.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
}

.main-casinos__card-text1-4 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--dark-blue);
    padding: 14px 14px 0;
    margin: 0;
}

.main-casinos__card-text2-4 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--dark-blue);
    padding: 14px;
    margin: 0;
}

/*Seccion de club*/

.main-club-container {
    width: 100%;
    max-width: 830px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.main-club__title {
    font-family: "Exo", sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--tangerine-orange);
    margin: 5px 5px 10px;
}

.main-club__img {
    width: 100%;
    height: 20rem;
    background-image: url(https://www.1onlinecasino.co.za/za/img/casino/club-777.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-club__sub-title {
    font-family: "Exo", sans-serif;
    font-size: 1.6rem;
    color: var(--ocean-blue);
    margin: 10px 5px;
}

.main-club__text {
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 300;
    color: var(--dark-blue);
    margin: 5px 5px;
}

.main-club__button {
    width: 24.4rem;
    height: 4.8rem;
    font-size: 1.4rem;
    background-color: var(--dark-blue);
    border: 3px solid var(--dessert-yellow);
    border-radius: 4px;
    color: var(--dessert-yellow);
    margin: 10px auto;
}

/*Seccion de ultimas ganancias*/

.main-winners__container {
    width: 90%;
    max-width: 830px;
    height: auto;
    margin: 20px auto;
}

.main-winners__title {
    font-family: "Exo", sans-serif;
    font-size: 2.8rem;
    color: var(--tangerine-orange);
    margin: 0 0 15px;
}

/*seccion de ultimas ganancias, primer ganador*/

.main-winners__player-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto-content);
    width: 90%;
    height: auto;
    flex-direction: column;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.main-winners__player-container__text-container1 p {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--dark-blue);
    margin: 0;
}

.main-winners__player-container__link-container {
    grid-area: 2 / 1 / 3 / 3;
}

.main-winners__player-container__link-container a {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--tangerine-orange);
}

.main-winners__player-container__text-container2 {
    grid-area: 1 / 3 / 2 / 4;
}

.main-winners__player-container__text-container2 p {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--dark-blue);
    margin: 0;
    text-align: end;
}

/*seccion de ultimas ganancias, 2 ganador*/

.main-winners__player-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto-content);
    width: 90%;
    height: auto;
    flex-direction: column;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.main-winners__player-container__text-container1-2 p {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--dark-blue);
    margin: 0;
}

.main-winners__player-container__link-container2 {
    grid-area: 2 / 1 / 3 / 3;
}

.main-winners__player-container__link-container2 a {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--tangerine-orange);
}

.main-winners__player-container__text-container2-2 {
    grid-area: 1 / 3 / 2 / 4;
}

.main-winners__player-container__text-container2-2 p {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--dark-blue);
    margin: 0;
    text-align: end;
}

/*seccion de ultimas ganancias, 3 ganador*/

.main-winners__player-container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto-content);
    width: 90%;
    height: auto;
    flex-direction: column;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.main-winners__player-container__text-container1-3 p {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--dark-blue);
    margin: 0;
}

.main-winners__player-container__link-container3 {
    grid-area: 2 / 1 / 3 / 3;
}

.main-winners__player-container__link-container3 a {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--tangerine-orange);
}

.main-winners__player-container__text-container2-3 {
    grid-area: 1 / 3 / 2 / 4;
}

.main-winners__player-container__text-container2-3 p {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--dark-blue);
    margin: 0;
    text-align: end;
}

/*seccion de ultimas ganancias, 4 ganador*/

.main-winners__player-container4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto-content);
    width: 90%;
    height: auto;
    flex-direction: column;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.main-winners__player-container__text-container1-4 p {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--dark-blue);
    margin: 0;
}

.main-winners__player-container__link-container4 {
    grid-area: 2 / 1 / 3 / 3;
}

.main-winners__player-container__link-container4 a {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--tangerine-orange);
}

.main-winners__player-container__text-container2-4 {
    grid-area: 1 / 3 / 2 / 4;
}

.main-winners__player-container__text-container2-4 p {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--dark-blue);
    margin: 0;
    text-align: end;
}

/*seccion de ultimas ganancias, 5 ganador*/

.main-winners__player-container5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto-content);
    width: 90%;
    height: auto;
    flex-direction: column;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.main-winners__player-container__text-container1-5 p {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--dark-blue);
    margin: 0;
}

.main-winners__player-container__link-container5 {
    grid-area: 2 / 1 / 3 / 3;
}

.main-winners__player-container__link-container5 a {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--tangerine-orange);
}

.main-winners__player-container__text-container2-5 {
    grid-area: 1 / 3 / 2 / 4;
}

.main-winners__player-container__text-container2-5 p {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--dark-blue);
    margin: 0;
    text-align: end;
}

/*seccion de ultimas ganancias, 6 ganador*/

.main-winners__player-container6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto-content);
    width: 90%;
    height: auto;
    flex-direction: column;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.main-winners__player-container__text-container1-6 p {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--dark-blue);
    margin: 0;
}

.main-winners__player-container__link-container6 {
    grid-area: 2 / 1 / 3 / 3;
}

.main-winners__player-container__link-container6 a {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--tangerine-orange);
}

.main-winners__player-container__text-container2-6 {
    grid-area: 1 / 3 / 2 / 4;
}

.main-winners__player-container__text-container2-6 p {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--dark-blue);
    margin: 0;
    text-align: end;
}

/*seccion de ultimas ganancias, 7 ganador*/

.main-winners__player-container7 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto-content);
    width: 90%;
    height: auto;
    flex-direction: column;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.main-winners__player-container__text-container1-7 p {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--dark-blue);
    margin: 0;
}

.main-winners__player-container__link-container7 {
    grid-area: 2 / 1 / 3 / 3;
}

.main-winners__player-container__link-container7 a {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--tangerine-orange);
}

.main-winners__player-container__text-container2-7 {
    grid-area: 1 / 3 / 2 / 4;
}

.main-winners__player-container__text-container2-7 p {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--dark-blue);
    margin: 0;
    text-align: end;
}

/*seccion de ultimas ganancias, 8 ganador*/

.main-winners__player-container8 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto-content);
    width: 90%;
    height: auto;
    flex-direction: column;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.main-winners__player-container__text-container1-8 p {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--dark-blue);
    margin: 0;
}

.main-winners__player-container__link-container8 {
    grid-area: 2 / 1 / 3 / 3;
}

.main-winners__player-container__link-container8 a {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--tangerine-orange);
}

.main-winners__player-container__text-container2-8 {
    grid-area: 1 / 3 / 2 / 4;
}

.main-winners__player-container__text-container2-8 p {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--dark-blue);
    margin: 0;
    text-align: end;
}

/*Seccion footer social media*/

.footer-social__container {
    width: 100%;
    max-width: 830px;
    height: 70px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}


.footer-social__logo-container {
    width: 30%;
    height: 100%;
    background-image: url(https://pbs.twimg.com/profile_images/496477275295338496/hZ4VSNZn_400x400.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

.footer-social__media-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-right: 8px;
}

.footer-social__media-logo1 {
    width: 25%;
    height: 100%;
    background-image: url(https://toppng.com/public/uploads/thumbnail/gray-facebook-logo-png-11536002413uhuthgncxr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.footer-social__media-logo2 {
    width: 25%;
    height: 100%;
    background-image: url(https://www.seekpng.com/png/full/246-2468707_twitter-grey-logo-png.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.footer-social__media-logo3 {
    width: 25%;
    height: 100%;
    background-image: url(https://seeklogo.com/images/I/instagram-logo-98138B5E5A-seeklogo.com.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.footer-social__media-logo4 {
    width: 25%;
    height: 100%;
    background-image: url(https://pngimage.net/wp-content/uploads/2018/06/%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0-%D1%8E%D1%82%D1%83%D0%B1-png-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}

/*Seccion juego responsable*/

.footer-responsible__container {
    width: 100%;
    max-width: 830px;
    height: auto;
}

.footer-responsible__container p {
    margin: 0;
}

.footer-responsible__list-container {
    width: 100%;
    height: auto;
    border-bottom: 1px solid gray;
}

.footer-responsible__list-container ul {
    list-style: none;
    padding: 0;
}

.footer-responsible__logo1 {
    width: 10px;
    height: 10px;
    background-image: url(https://pngimage.net/wp-content/uploads/2018/06/%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0-%D1%8E%D1%82%D1%83%D0%B1-png-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}